@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Hachi Maru Pop", sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding: 3rem;
}

p, h3 {
    padding: 1.5rem;
}

.head-icons {
    font-size: 3rem;
    color: #60BFC1;
}

.head-icons i:hover {
    color: #af93eb;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

/* Home page */

.main-section, .wrapper {

    text-align: center;
    background-image: url(../images/rainbow-bg.jpg);
    background-color: aquamarine;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-selection {
    padding: 6rem;
}

.card-selection div {
    padding: 2rem;
}

.card-selection a {
    background-color: white;
    border-radius: 30px;
    padding: 1rem 2em;
    border: 2px solid #af93eb;
}

.card-selection a:hover {
    background-color: #af93eb;
    color: white;
    border: 2px solid white;
}

.fun-facts {
    padding: 0 0 3rem 0;
}

.fun-facts h3, li {
    padding: 1.5rem;
}

footer {
    text-align: center;
    padding: 1.5rem;
}

footer a {
    color: #60BFC1;
}

footer a:hover {
    color: #af93eb;
}

/* Cards */

.wrapper {
    padding: 6rem 0;
}

.memory-game {
	width: 640px;
	height: 640px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	perspective: 1000px;
    align-content: flex-start;
}

.cards20-board {
    width: 800px;
	height: 800px;
}


.memory-card {
	min-width: 0;
	flex-basis: calc(25% - 10px);
	position: relative;
	margin: 5px;
	transition: transform .3s;
	transform-style: preserve-3d;
    height: calc(25% - 10px);
}

.twenty-cards {
    flex-basis: calc(20% - 10px);
    height: calc(20% - 10px);
}

.memory-card:active {
	transform: scale(95%);
}

.memory-card.flip {
	transform: rotateY(180deg);
}

img {
	width: 100%;
	height: 100%;
}

.front-face,
.back-face {
	position: absolute;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
	backface-visibility: hidden;
    display: block;
}

.front-face {
	transform: rotateY(180deg);
}

/* contact form modal popup*/

#contact-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  #contact-popup.show {
      opacity: 1;
      pointer-events: auto;
  }

.w3-container {
    background-color: #B9DED6;
    width: 60vw;
    border-radius: 30px;
    padding: 3rem;
    position: relative;
}

form input, textarea {
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-family: inherit;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    width: 400px;
}

form input:focus, textarea:focus {
    background-color: #F7E3DA;
}

form input[type="submit"] {
    background-color: white;
    font-size: inherit;
}
  
#close-contact {
    background-color: #FDB7B9;
    font-size: inherit;
    font-family: inherit;
    padding: 0 0.5rem;
    border-radius: 10px;
    position: absolute;
    right: 50px;
    top: 20px;
  }

  #thank-you {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
  }

  #thank-you.show{
      opacity: 1;
      pointer-events: auto;
  }

  #contact-form.hide {
      opacity: 0;
      pointer-events: none;
  }

  /* Game rules popup */

  #game-rules {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  #game-rules.show {
      opacity: 1;
      pointer-events: auto;
  }

  #close-rules {
    background-color: #FDB7B9;
    font-size: inherit;
    font-family: inherit;
    padding: 0 0.5rem;
    border-radius: 10px;
    position: absolute;
    right: 50px;
    top: 20px;
  }

@media only screen and (max-width: 850px) {
    .cards20-board {
        width: 640px;
        height: 640px;
    }

}

@media only screen and (max-width: 700px) {

    body {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2, h3 {
        font-size: 1.5rem;
    
    }

    p, h3 {
        padding: 1rem;
    }

    .head-icons {
        font-size: 2rem;
    }

    .card-selection {
        padding: 3rem 0;
    }

    .memory-game {
        width: 440px;
        height: 440px;
    }

    .wrapper {
        padding: 3rem 0;
    }

    .w3-container {
        width: 90vw;
    }

}

@media only screen and (max-width: 450px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3 {
        font-size: 1.3rem;
        padding: 1.5rem;
    
    }

    .head-icons {
        font-size: 1.5rem;
    }

    .memory-game {
        width: 300px;
        height: 300px;
    }

    .wrapper {
        padding: 2rem 0;
    }

    .card-selection {
        padding: 1.5rem 0;
    }

    .w3-container {
        padding: 1.5rem;
    }

    form input, textarea {
        width: 200px;
    }
}